# Power of Youth 2026 Environment Configuration

# Optional: Override Admin Credentials
VITE_ADMIN_EMAIL=admin@poy2026.org
VITE_ADMIN_PASSWORD=POY2026#Admin$Secure9842!

# Supabase Configuration
VITE_SUPABASE_URL=https://jdzeypwvcggtruprcqrc.supabase.co
